<h1 class="animated fadeIn" > {{estudiante.nombre | uppercase }}
<small>
    {{estudiante.apellido}}
</small>    
</h1>

<div class="row animated fadeIn fast">
<div class="col-md-4">
<img src="../../../assets/imagenes/avatar.png" class="img-fluid" [alt]="estudiante.nombre">
<br>
<a [routerLink]="['/estudiantes']" class="btn btn-outline-danger btn-block">Regresar </a>
</div>
<div class = "col-md-8">
<h3> {{estudiante.nombre}}</h3>
<hr>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat impedit veniam, voluptatum voluptatem iusto dolorem blanditiis fuga, consequatur nulla obcaecati delectus vel voluptas? Pariatur, fugit possimus tempore deleniti provident tempora.
</p>
</div>

</div>